@page
@model DtpServer.Pages.Workflows.DetailsModel
@using DtpServer.Extensions

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkflowContainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.View.DatabaseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View.DatabaseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.View.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.View.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.View.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.View.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.View.NextExecution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View.NextExecution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.View.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View.Tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.View.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
