@page
@model DtpServer.Pages.Claims.DetailsModel

@{
    ViewData["Title"] = "Claim";
    Layout = "~/Pages/_Layout.cshtml";
}
<h2>Claim</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Claim.Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Claim.Created)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Issuer)
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => Model.Claim.Issuer.Type):
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Claim.Issuer.Type)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => Model.Claim.Issuer.Id):
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Claim.Issuer.Id)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => Model.Claim.Issuer.Proof):
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Claim.Issuer.Proof)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Subject)
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => Model.Claim.Subject.Type):
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Claim.Subject.Type)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => Model.Claim.Subject.Id):
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Claim.Subject.Id)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => Model.Claim.Subject.Proof):
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Claim.Subject.Proof)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Claim.Type)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Claim.Value)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Scope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Claim.Scope)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Activate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Claim.Activate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Expire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Claim.Expire)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Claim.State)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.Timestamps)
            </td>
            <td>
                <table class="table">
                    <tbody>
                        @foreach (var timestamp in Model.Claim.Timestamps)
                        {
                            <tr>
                                <td>@Html.DisplayNameFor(t => timestamp.Source):</td>
                                <td><a asp-page="/Timestamps/Details" asp-route-source="@Convert.ToBase64String(timestamp.Source)">@Html.DisplayFor(t => timestamp.Source)</a></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayNameFor(t => timestamp.Registered):</td>
                                <td>@Html.DisplayFor(t => timestamp.Registered)</td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayNameFor(t => timestamp.Blockchain):</td>
                                <td>@Html.DisplayFor(t => timestamp.Blockchain)</td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayNameFor(t => timestamp.Service):</td>
                                <td>@Html.DisplayFor(t => timestamp.Service)</td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayNameFor(t => timestamp.Path):</td>
                                <td>@Html.DisplayFor(t => timestamp.Path)</td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayNameFor(t => timestamp.Algorithm):</td>
                                <td>@Html.DisplayFor(t => timestamp.Algorithm)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => Model.Claim.ClaimPackages)
            </td>
            <td>
                <table class="table">
                    <tbody>
                        @foreach (var trustPackage in Model.Claim.ClaimPackages)
                        {
                            <tr>
                                <td>@Html.DisplayNameFor(t => trustPackage.PackageID):</td>
                                <td><a asp-page="/Packages/Details" asp-route-source="@trustPackage.PackageID">@Html.DisplayFor(t => trustPackage.PackageID)</a></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(t => trustPackage.Package.Created):</td>
                                <td>@Html.DisplayFor(t => trustPackage.Package.Created)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(t => trustPackage.Package.Server.Id):</td>
                                <td>@Html.DisplayFor(t => trustPackage.Package.Server.Id)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <pre><code>@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Claim, Newtonsoft.Json.Formatting.Indented)</code></pre>
</div>
